<div id="search-component">
  <h4><label for="search-box">Search</label></h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <div *ngFor="let result of movies$ | async">
    <p>{{ result.page }}</p>
  </div>
  <button (click)="listMovies()">List Results</button>
  <ul class="search-result">
    <li *ngFor="let item of results">
      <div *ngIf="item.media_type === 'movie'">
        <a routerLink="/detail/{{ item.id }}">
          {{ item.title }}
        </a>
      </div>
      <div *ngIf="item.media_type === 'person'">
        <a routerLink="/person/{{ item.id }}">
          <strong>{{ item.name }}</strong>
        </a>
      </div>
    </li>
  </ul>
</div>